NRC_SEARCH_BASE_URL=https://campus.universidad.edu/buscador_cursos
REQUEST_TIMEOUT_SECONDS=15
# Opcional: autenticación
# NRC_SEARCH_USERNAME=
# NRC_SEARCH_PASSWORD=
# FRONTEND_ORIGINS puede ser una lista separada por comas
FRONTEND_ORIGINS=http://localhost:5173
